<!DOCTYPE html>
<html lang="{{ site.lang | default: 'ko-KR' }}">
{% include head.html %}
<body>
  <main role="main">
    {% include header.html %}
    <section class="post">
      <h1 class="d-none">Tags</h1>
      {% assign tags = site.tags | sort %} {% for tag in tags %}
      <h2 id="{{ tag[0] }}" class="text-capitalize">{{ tag[0] }}</h2>
      <ul>
        {% for post in tag[1] %}
        <li>
          <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
      </ul>
      {% endfor %}
    </section>
    {% include footer.html %}
  </main>
  {% include script.html %}
</body>
</html>
